In [1]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')

In [2]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
#calculating mean
iris['sepal_length'].mean()

5.843333333333334

In [6]:
iris['sepal_width'].median()

3.0

In [8]:
iris['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

In [10]:
iris['petal_length'].var()

3.1162778523489942

In [11]:
iris['petal_width'].std()

0.7622376689603465

In [15]:
# Drop any non-numeric columns or columns with categorical data
numeric_columns = iris.select_dtypes(include=['float64', 'int64'])

# Now perform your calculations
# Skewness of the entire dataset
skewness = numeric_columns.skew()

In [17]:
from scipy.stats import kurtosis
sepal_length_kurtosis_iris = kurtosis(iris['sepal_length'], fisher=True)

sepal_length_kurtosis_iris

-0.5735679489249765

In [18]:
# Calculate the 25th, 50th, and 75th percentiles of 'petal_length'
percentiles_petal_length = iris['petal_length'].quantile([0.25, 0.5, 0.75])

# Print the results
print("25th percentile of 'petal_length':", percentiles_petal_length[0.25])
print("50th percentile (median) of 'petal_length':", percentiles_petal_length[0.5])
print("75th percentile of 'petal_length':", percentiles_petal_length[0.75])

25th percentile of 'petal_length': 1.6
50th percentile (median) of 'petal_length': 4.35
75th percentile of 'petal_length': 5.1