In [2]:
import pandas as pd
data ={'Name': ['Alice','Bob','Charlie','David','Eva'],
      'Age':[23,35,45,36,28],
      'City':['New York','Los Angele','Chicago','Houston','Phoenix']}
df= pd.DataFrame(data)
print(df)

# Select the row with index 2
row_index_2 = df.iloc[2]
print(row_index_2)

      Name  Age        City
0    Alice   23    New York
1      Bob   35  Los Angele
2  Charlie   45     Chicago
3    David   36     Houston
4      Eva   28     Phoenix
Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [3]:
age_column = df.iloc[:, 1]  # Select all rows (:) and the second column (index 1)
print(age_column)

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In [4]:
first_3_rows = df.iloc[:3]  # Select all rows from starting index (inclusive) to 3rd index (exclusive)
print(first_3_rows)

      Name  Age        City
0    Alice   23    New York
1      Bob   35  Los Angele
2  Charlie   45     Chicago

In [5]:
first_3_rows_name_city = df.iloc[0:3, [0, 2]]  # Select rows 0 to 2 (exclusive) and columns 0 (Name) and 2 (City)
print(first_3_rows_name_city)

      Name        City
0    Alice    New York
1      Bob  Los Angele
2  Charlie     Chicago

In [6]:
charlie_row = df.loc[df['Name'] == 'Charlie']
print(charlie_row)

      Name  Age     City
2  Charlie   45  Chicago

In [8]:
age_column = df.loc[:, 'Age']# select age column with loc.
print(age_column)

0    23
1    35
2    45
3    36
4    28
Name: Age, dtype: int64

In [11]:
bob_and_eva_cities = df.loc[[1, 4], 'City']# select city with bob and alice.
print(bob_and_eva_cities)

1    Los Angele
4       Phoenix
Name: City, dtype: object

In [14]:
#bob_and_eva_cities = df.loc[(df['Name']=='Bob')|(df['Name']=='Bob'):,'Age']
bob_and_eva_cities = df.loc[(df['Name'] == 'Bob') | (df['Name'] == 'Eva'), 'Age']
print(bob_and_eva_cities)

1    35
4    28
Name: Age, dtype: int64

In [20]:
age_rows_more_then_30 = df.loc[df['Age'] > 30]
print(age_rows_more_then_30)

      Name  Age        City
1      Bob   35  Los Angele
2  Charlie   45     Chicago
3    David   36     Houston

In [23]:
# selecting the rows where city is chicago or houston

city_chicago_houston = df.loc[(df['City'] == 'Chicago')|(df['City'] == 'Houston')]
print(city_chicago_houston)

      Name  Age     City
2  Charlie   45  Chicago
3    David   36  Houston

In [24]:
df_reindexed = df.set_index('Name')  # Set the 'Name' column as the index
print(df_reindexed)

         Age        City
Name
Alice     23    New York
Bob       35  Los Angele
Charlie   45     Chicago
David     36     Houston
Eva       28     Phoenix

In [26]:
david = df.loc[df['Name']=='David']
print(david)

    Name  Age     City
3  David   36  Houston

In [33]:
Age_and_city_for_bob_and_Eva = df_reindexed.loc[['Bob','Eva'],['Age', 'City']] # selecting age and city columns for Bob and Eva names.
print(Age_and_city_for_bob_and_Eva)

      Age        City
Name
Bob    35  Los Angele
Eva    28     Phoenix

In [1]:
import pandas as pd
data = {
'Product': ['Apple', 'Banana', 'Carrot', 'Doughnut', 'Egg'],
'Price': [0.5, 0.3, 0.4, 1.0, 0.2],
'In Stock': [True, True, False, True, False]
}
df = pd.DataFrame(data)
print(df)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
2    Carrot    0.4     False
3  Doughnut    1.0      True
4       Egg    0.2     False

In [43]:

products_in_stock = df.loc[(df['In Stock'] == True), ['Product']]
print(products_in_stock)

    Product
0     Apple
1    Banana
3  Doughnut

In [2]:
# Locate the row where the product is 'Doughnut'
doughnut_row = df.loc[df['Product'] == 'Doughnut']

# Update the 'Price' value in that row to 1.2
doughnut_row.loc[:, 'Price'] = 1.2

# Print the modified DataFrame
print(df)

    Product  Price  In Stock
0     Apple    0.5      True
1    Banana    0.3      True
2    Carrot    0.4     False
3  Doughnut    1.0      True
4       Egg    0.2     False

In [3]:
df = df.loc[df['Price'] < 0.5]
print(df)

  Product  Price  In Stock
1  Banana    0.3      True
2  Carrot    0.4     False
4     Egg    0.2     False

In [4]:
products_and_price_not_in_stock = df.loc[(df['In Stock'] == False), ['Product','Price']]
print(products_and_price_not_in_stock)

  Product  Price
2  Carrot    0.4
4     Egg    0.2